@import "tailwindcss";


/* Keyframes for twinkling effect */
@keyframes twinkle {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* Utility class to apply the twinkle animation */
.twinkle {
  animation-name: twinkle;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
html {
  scroll-behavior: smooth;
}
